.header{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}

.header__info{
  font-size: 0.6rem;
}

.header__content{
  padding-left: 30px;
  padding-right: 30px;
  height: 130px;
}

.header__contact{
  height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DEE7E7;
}

.header__contact > div{
  min-width: 250px;
}

.header__card{
  display: flex;
  align-items: center;
  height: 35px;
}

.header__nav{
  height: 46%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px double #656839;
  border-bottom: 3px solid #656839;
  background-color: white;
}

.header__label{
  padding: 0px;
  margin: 0px;
  display: none;
  justify-content: flex-start;
}

.header__logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__signin{
  display: flex;
  justify-content: flex-end;
}

.header__nav__icon:hover > .header__label{
  display: inline;
  border-right: none;
}

.header__nav__icon__last:hover > .header__label{
  display: inline;
}

.header__label--active{
  display: inline;
}

.header__nav__icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 90px;
  border-right: 1px dotted black;
}

.header__nav__icon__last{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 90px;
}

.header__nav__icon > .MuiSvgIcon-root{  
  margin-left: auto;
  margin-right: auto;
}

.header__search-cart{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
}

.header__search{
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search__input{
  height: 25px !important;
  width: 250px !important;
  border-radius: 1px thin;
}

.header__search__icon{
  padding: 5px;
  height: 21.5px !important;
  color: white;
  cursor: pointer;
  background-color: #656839;
}

.header__cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart__item{
  width: 40px;
}

/* Dinh dang cho cac icon */
.header__logo__icon{
  width: 190px;
  height: 100px;
  cursor: pointer;
}

.header__icon{
  width: 35px;
  height: 35px;
}

